elpa/
transient/
recentf
projectile.cache
projectile-bookmarks.eld
projects
auto-save-list/
configuration/configuration.el.rej
/simple-bookmarks
/bookmarks
/.cache/
eln-cache/
custom.el
eshell/history
eshell/lastdir
*.~undo-tree~
tramp
url/
